<div class="footer-container">
    <div>
        <section>
            <h4>Social Media</h4>
            <div class="social">
                <a href="#" aria-label="facebook">
                    <img src="/images/facebook.svg" alt="Facebook" width="800" height="800">
                </a>
                <a href="#" aria-label="youtube">
                    <img src="/images/youtube.svg" alt="youtube" width="800" height="800">
                </a>
                <a href="#" aria-label="instagram">
                    <img src="/images/instagram.svg" alt="instagram" width="800" height="800">
                </a>
            </div>
        </section>
    </div>
    <div>
        <section>
            <h4>Quick Links</h4>
            <nav>    
                <ul class="links">
                    <li><a href="/index.html" title="Home">Home</a></li>
                    <li><a href="/challenges/" title="Challenges">Challenges</a></li>
                    <li><a href="/about/" title="About">About</a></li>
                </ul>
            </nav>
        </section>
    </div>
    <div>
        <section>
            <h4>About This Project</h4>
            <p>BYU Idaho<br>WDD 330 <br>Created by: Analina Del Vecchio<br></p>
        </section>
    </div>
</div>
<p id="copyright"></p>